@font-face {
    font-family: Genshin;
    src: url(Project\ Keqei/assets/fonts/Genshin_Impact_Font.woff);
}
body{
    background-color: #080010;
}
h1, h2, p, div, h3, button, input, h4{
    font-family: Genshin;
    color: white;
    text-align:center;
}
h4, p{
    font-size: 18px;
    display:inline;
}
h3{color: #bbbbbb;}
h4{color: rgb(175,255,255);}
p{margin-left:10px}

#logo{
    margin:auto;
    display:block;
    height:216px;
}
.card{
    margin-left: 5%;
    margin-right: 5%;
    border: 3px solid gray;
    border-radius: 10px;
    position:relative;
    margin-bottom:15px;
    background-size: contain;
}
.overlay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    visibility:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card:hover > .overlay{
    visibility:initial;
}
table{
    margin-top:0.83em;
    margin-left:0.83em;
    margin-right:0.83em;
    width: -webkit-fill-available;
}
.card-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
}
.complete-online{
    color:lightgreen;
}
.complete-offline{
    color:lightyellow;
}
.discontinued{
    color:lightcoral;
}
