h1 {
  text-align: center;
}

h2 {
  font-size: 1.875em;
}

.mytext {
     font-size:1em;
     height:1.2em;
     width:10em;
}

label, .radio{
    vertical-align: middle;
}

.submit {
     height:1.2em;
     width:4em;
     font-size: 1em;
}

@media screen and (orientation:portrait) {
  .meow{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1,p,label{
    font-size:4em;
  }
  .radio {
    height:5em;
    width:20em;
  }
}

@media screen and (orientation:landscape) {
  .meow{
    position:absolute;
    width:50%;
    right:0%;
    top:25%;
    z-index:-1;
  }
  h1,p,label{
    font-size:2em;
  }
  .radio {
    height:2.5em;
    width:10em;
  }
}